<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecipeMapper">

    <!-- Result Map for Recipe with Category -->
    <resultMap id="RecipeWithCategoryResultMap" type="Recipe">
        <result property="name" column="name" />
        <result property="imageUrl" column="image_url" />
        <result property="calories" column="calories" />
        <result property="ingredients" column="ingredients" />
        <result property="category" column="category_name" />
        <result property="effect" column="effect" />
        <result property="suitpeople" column="suitpeople" />
        <result property="make" column="make" />
    </resultMap>




    <!-- Select all recipes with category -->
    <select id="getAllRecipesWithCategory" resultMap="RecipeWithCategoryResultMap">
        SELECT  r.id, r.name, r.image_url, r.calories, r.ingredients,r.category_id,  c.name AS category_name,r.effect,r.suitpeople,r.make
        FROM wx_recipes r
        JOIN wx_categories c ON r.category_id = c.id
    </select>

    <!-- Insert a new recipe -->
    <insert id="insertRecipe" parameterType="Recipe" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wx_recipes (name, image_url, calories, ingredients, category_id, effect, suitpeople, make)
        VALUES (#{name}, #{imageUrl}, #{calories}, #{ingredients}, #{category_id}, #{effect}, #{suitpeople}, #{make})
    </insert>

    <!-- Update an existing recipe -->
    <update id="updateRecipe" parameterType="Recipe">
        UPDATE wx_recipes
        SET name = #{name},
        image_url = #{imageUrl},
        calories = #{calories},
        ingredients = #{ingredients},
        category_id = #{category_id},
        effect = #{effect},
        suitpeople = #{suitpeople},
        make = #{make}
        WHERE id = #{id}
    </update>

    <!-- Delete a recipe by id -->
    <delete id="deleteRecipe" parameterType="int">
        DELETE FROM wx_recipes
        WHERE id = #{id}
    </delete>
</mapper>